.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #e0e0e0;
  width: 100%;
  padding: 20px 20px 16px 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logoImg {
  height: auto;
  margin-right: 10px;
}

.logoDesktop {
  display: none;
}

.nav {
  display: flex;
  align-items: center;
  gap: 14px;
}

.link {
  text-decoration: none;
  color: #9b9faa;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
}

.link:hover {
  color: #fc842d;
}

.button {
  border: none;
  background-color: transparent;
  color: #9b9faa;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  padding: 0;
}

.button:hover {
  color: #fc842d;
}

.verticalLine {
  width: 2px;
  height: 32px;
  background-color: #e0e0e0;
  margin: 0 10px;
}

.userSection {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 4px 20px;
  background-color: #f8f8f8;
}

.userSectionMobile {
  display: flex;
  justify-content: flex-start; /* Aliniere la stânga */
  align-items: center;
  width: 100%;
  padding: 4px 20px;
  background-color: #f8f8f8;
}

.userContainer {
  display: flex;
  align-items: center;
  margin-left: auto; /* Asigură că se aliniază corect */
}

.user {
  color: #4a4a4a;
  font-size: 14px;
  font-weight: bold;
}

.backButton {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: black;
  padding: 0;
}

.backButton::before {
  content: '⮠'; /* Săgeată pentru mobil */
}

.backButton:focus {
  outline: none;
}

/* TABLETA */
@media (min-width: 768px) {
  .nav {
    gap: 24px;
  }
  .userSection {
    background-color: white;
  }
}

/* DESKTOP */
@media (min-width: 1280px) {
  .header {
    padding-top: 64px;
    border-bottom: none;
    justify-content: flex-start;
    position: relative;
  }

  .logoImg,
  .slimMomImg {
    display: none;
  }

  .logoDesktop {
    display: block;
    height: auto;
  }

  .verticalLineDesktop {
    display: block;
    width: 2px;
    height: 32px;
    background-color: #e0e0e0;
    margin-right: 6px;
    margin-left: 20px;
  }

  .nav {
    margin-top: 44px;
    gap: 14px;
  }

  .userSection {
    position: absolute;
    top: 84px;
    left: calc(185%);
    background-color: transparent;
    padding: 20px;
  }
}
