.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #e0e0e0;
  width: 100%;
  padding: 20px 20px 16px 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.separator {
  display: none;
  width: 2px;
  height: 32px;
  background-color: #e0e0e0;
  margin-right: 6px;
}

.logoImg {
  width: 46px;
  height: auto;
  margin-right: 10px;
}

.slimMomImg {
  display: none;
}

.logoDesktop {
  display: none;
}

.nav {
  display: flex;
  align-items: center;
  gap: 14px;
}

.link {
  text-decoration: none;
  color: #9b9faa;
  font-size: 14px;
  font-weight: bold;
  border-radius: 5px;
}

.link:hover {
  color: #fc842d;
}

@media (min-width: 768px) {
  .slimMomImg {
    display: block;
    margin-left: 10px;
  }
  .nav {
    gap: 24px;
  }
}

@media (min-width: 1280px) {
  .header {
    padding-top: 64px;
    border-bottom: none;
    justify-content: flex-start;
  }
  .logoImg,
  .slimMomImg {
    display: none;
  }
  .logoDesktop {
    display: block;
    height: auto;
  }
  .separator {
    display: block;
    margin-left: 20px;
  }
  .nav {
    margin-top: 44px;
    gap: 14px;
  }
}
