.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    margin-top: 80px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
  }
  
  .title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 34px;
  }
  
  .formGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 15px;
  }
  
  .label {
    font-size: 14px;
    font-weight: bold;
    color: #9b9faa;
    margin-bottom: 8px;
    width: 100%;
  }
  
  .inputProduct, .inputGrams {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #9b9faa;
    outline: none;
    font-size: 14px;
  }

  /* Tablet */
@media (min-width: 768px) {
  .container {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .formGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    margin-bottom: 15px;
  }
  
  .form {
    display: flex;
    flex-direction: row;
    align-items: normal;
    gap: 22px;
    margin: 0;
    padding: 0;
    
  }

  .inputProduct {
    width: 240px;
  }
  .inputGrams {
    width: 106px;
  }
  
}

/* Desktop */
@media (min-width: 1280px) {}